* {
  --background-color: rgb(40, 40, 40);
}

body {
  background-color: var(--background-color);
}

.App {
  position: absolute;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}